.profile-workouts {
  background-color: aliceblue;
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
}

.profile-workouts .table-container {
  width: 100%;
}
